# Austin Crime Data (2018-2020) - Exploratory Data Analysis

## Environment Setup

In [1]:
#import dependencies 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import config
import plotly.express as px

In [2]:
#setup postgres database connection
database = f"postgres://{config.db_user}:{config.db_password}@localhost:5432/austin_crime"
engine = create_engine(database)

In [3]:
# create function to streamline querying into dataframe
def db_frame(query):
    return pd.read_sql_query(query, con=engine)

### Incidents by year

In [334]:
# create summary dataframe and add data 
incident_summary = db_frame('''SELECT COUNT(*) FROM crime_incidents''')

#create function to reduce query redundancy 
def query_crime_count(year): 
    return db_frame(f'''SELECT COUNT(*) 
                       FROM crime_incidents 
                       WHERE EXTRACT(year FROM occurred_date)={year};''')
# rename column
incident_summary.rename({'count':'total_incidents'},axis=1,inplace=True)

# query incident countts by year 
incident_summary['2020_incidents'] = query_crime_count('2020')
incident_summary['2019_incidents'] = query_crime_count('2019')
incident_summary['2018_incidents'] = query_crime_count('2018')

#rename column
incident_summary.rename({0:'count'}, axis=0, inplace=True)

incident_percent = []
#extract values fro summary 
for i in incident_summary.values[0]: 
    #calculate percentages and add to list 
    incident_percent.append(round((i/incident_summary.values[0][0])*100,2))
    
#create percantage row and add values 
incident_summary = incident_summary.append(
    pd.Series({'total_incidents':incident_percent[0],
               '2020_incidents':incident_percent[1],
               '2019_incidents':incident_percent[2],
               '2018_incidents':incident_percent[3]}, 
                  name='percentage'))

incident_summary

            total_incidents  2020_incidents  2019_incidents  2018_incidents
count              303939.0        99580.00       105042.00        99317.00
percentage            100.0           32.76           34.56           32.68

## Offense count by Month

In [481]:
offense_by_month = db_frame('''SELECT COUNT(*),
                                TO_CHAR(occurred_date, 'Mon') as "month",
                                EXTRACT(YEAR from occurred_date) as year
                                FROM crime_incidents 
                                GROUP BY month, year   
                            ;''')

In [482]:
offense_by_month.head()

   count month    year
0   8174   Apr  2018.0
1   8307   Apr  2019.0
2   7633   Apr  2020.0
3   8572   Aug  2018.0
4   9272   Aug  2019.0

In [484]:
offense_by_month.to_csv('datasets/offense_by_month.csv', index=False )

## Dates

In [472]:
offense_by_date = db_frame('''SELECT COUNT(*),
                                TO_CHAR(occurred_date, 'YYYY/MM/DD') as "date"
                                FROM crime_incidents 
                                GROUP BY date

                            ;''')

In [475]:
offense_by_date.head()

   count        date
0    305  2018/01/01
1    223  2018/01/02
2    249  2018/01/03
3    258  2018/01/04
4    262  2018/01/05

In [478]:
offense_by_date.to_csv('test_data/offense_by_date.csv', index=True)

### Unique Offense Types

In [350]:
count_offense_type = db_frame('''SELECT COUNT(*)
                             FROM offense_type;''') 
count_offense_type.rename({'count':'Number of Unique Offenses'})
count_offense_type.rename({'count':'Number of Offense Types'}, inplace=True)

   count
0    301

## Offense Type Plotting Data

In [4]:
offense_type_month = db_frame(f'''SELECT of.offense_type,
                            COUNT(cr.incident_report_number) as incident_count,
                            TO_CHAR(cr.occurred_date, 'Mon') as month
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            GROUP BY of.offense_type, month
                            ORDER BY incident_count DESC 
                            ;''')

In [5]:
offense_type_month.head()

          offense_type  incident_count month
0  BURGLARY OF VEHICLE            3040   Nov
1  BURGLARY OF VEHICLE            2956   Oct
2  BURGLARY OF VEHICLE            2876   Sep
3  BURGLARY OF VEHICLE            2869   Jan
4  BURGLARY OF VEHICLE            2858   Dec

In [408]:
samp.offense_type.nunique()

301

In [ ]:
fig = px.scatter(offense_type_month, x='month', y='incident_count', color='offense_type', size='incident_count')
fig.show()

## Offenses by location and offense type

In [437]:
offense_by_type_loc = db_frame('''SELECT COUNT(*),
                            lo.location_type,
                            of.offense_type
                            FROM crime_incidents as cr
                            LEFT JOIN incident_location as lo
                            ON (cr.location_code = lo.location_code)
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            GROUP BY lo.location_type, of.offense_type
                            ;''')

In [438]:
offense_by_type_loc

,count,location_type,offense_type
0,10,ABANDONED/CONDEMNED STRUCTURE,AGG ASSAULT FAM/DATE VIOLENCE
1,4,ABANDONED/CONDEMNED STRUCTURE,AGG ROBBERY/DEADLY WEAPON
2,5,ABANDONED/CONDEMNED STRUCTURE,ARSON
3,17,ABANDONED/CONDEMNED STRUCTURE,ASSAULT BY CONTACT FAM/DATING
4,5,ABANDONED/CONDEMNED STRUCTURE,ASSAULT BY THREAT
...,...,...,...
3590,21,TRANSPORTATION (AIR / BUS / TRAIN - TERMINALS),WARRANT ARREST NON TRAFFIC
3591,1,TRIBAL LANDS,ASSAULT W/INJURY-FAM/DATE VIOL
3592,1,TRIBAL LANDS,MISREP AGE BY MINOR
3593,1,TRIBAL LANDS,POSS CONTROLLED SUB/NARCOTIC
3594,1,TRIBAL LANDS,PROSTITUTION

In [ ]:
fig = px.scatter(offense_by_type_loc, x='location_type', y='offense_type', color='offense_type', size='count');
fig.update_xaxes(showticklabels=False);
fig.update_yaxes(showticklabels=False);
fig.show();

### Top Offense Type (all Years)

In [6]:
#query most common crime types
top_category_all  = db_frame(f'''SELECT of.offense_type,
                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            GROUP BY of.offense_type
                            ORDER BY incident_count DESC 
                            LIMIT 10
                            ;''')

In [6]:
#reviw dataframe 
top_category_all

                     offense_type  incident_count
0             BURGLARY OF VEHICLE           33211
1              FAMILY DISTURBANCE           31042
2                           THEFT           26157
3  ASSAULT W/INJURY-FAM/DATE VIOL           17439
4               CRIMINAL MISCHIEF           16052
5                      AUTO THEFT            9204
6            THEFT BY SHOPLIFTING            8757
7             DISTURBANCE - OTHER            8532
8                      HARASSMENT            8300
9   ASSAULT BY CONTACT FAM/DATING            7908

In [27]:
##treemap subset 
offense_cat_count = db_frame(f'''SELECT of.offense_type,
                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            GROUP BY of.offense_type
                            ORDER BY incident_count DESC 
                            ;''')

In [28]:
offense_cat_count

                       offense_type  incident_count
0               BURGLARY OF VEHICLE           33211
1                FAMILY DISTURBANCE           31042
2                             THEFT           26157
3    ASSAULT W/INJURY-FAM/DATE VIOL           17439
4                 CRIMINAL MISCHIEF           16052
..                              ...             ...
296                  AIDING SUICIDE               1
297            SALE OF DXM TO MINOR               1
298             CRIMINAL CONSPIRACY               1
299   CRIM NEG HOMICIDE/NON TRAFFIC               1
300        CRASH/NEGLIGENT HOMICIDE               1

[301 rows x 2 columns]

In [29]:
offense_cat_count['parent'] = " "

In [26]:
offense_cat_count.to_csv('datasets/offense_cat_countv2.csv', index=False)

In [159]:
# convert offense types to tuple 
offense_tuple= tuple(top_category_all.offense_type.values)
print(offense_tuple)

('BURGLARY OF VEHICLE', 'FAMILY DISTURBANCE', 'THEFT', 'ASSAULT W/INJURY-FAM/DATE VIOL', 'CRIMINAL MISCHIEF', 'AUTO THEFT', 'THEFT BY SHOPLIFTING', 'DISTURBANCE - OTHER', 'HARASSMENT', 'ASSAULT BY CONTACT FAM/DATING')

In [181]:
# interpoloate tuple within query 
top_category_year = db_frame(f'''SELECT COUNT(cr.incident_report_number), 
                            EXTRACT(year FROM cr.occurred_date) as year,
                            of.offense_type
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            WHERE offense_type IN {offense_tuple}
                            GROUP BY year, of.offense_type
                            ORDER BY of.offense_type, year
                            ;''')

In [177]:
#ransform then merge dataframes to create summary dataframe 
top_category_summary = top_category_year.pivot(index='offense_type', columns='year', values='count')\
                                     .reset_index().rename_axis(None,axis=1)
top_category_summary = top_category_summary.merge(top_category_year, how='left', on='offense_type' )

In [178]:
#review dataframe 
top_category_summary.sort_values(by='incident_count', ascending=False, inplace=True)
top_category_summary

                     offense_type  incident_count  2018.0  2019.0  2020.0
0             BURGLARY OF VEHICLE           33211   10500   11753   10958
1              FAMILY DISTURBANCE           31042   10505   10356   10181
2                           THEFT           26157    9109    9603    7445
3  ASSAULT W/INJURY-FAM/DATE VIOL           17439    5701    6128    5610
4               CRIMINAL MISCHIEF           16052    4632    5530    5890
5                      AUTO THEFT            9204    2416    2942    3846
6            THEFT BY SHOPLIFTING            8757    2963    3155    2639
7             DISTURBANCE - OTHER            8532    3181    2794    2557
8                      HARASSMENT            8300    2620    2792    2888
9   ASSAULT BY CONTACT FAM/DATING            7908    2570    2745    2593

In [180]:
top_category_summary.to_csv('data_extract_visualizations/top_category_summary.csv', index=False)

## Top Offense Type by Year

In [338]:
# create fucntion to return top categories based on year input 
def query_top_crime(year): 
     return  db_frame(f'''SELECT of.offense_type,
                                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            WHERE EXTRACT(year FROM occurred_date)={year}
                            GROUP BY of.offense_type
                            ORDER BY incident_count DESC 
                            LIMIT 5
                            ;''')
    
#query top crime categories with funciton   
top_2018_category = query_top_crime('2018')
top_2019_category = query_top_crime('2019')
top_2020_category = query_top_crime('2020')

In [339]:
print('2018 Categories')
top_2018_category
print('\n 2019 Categories')
top_2019_category
print('\n 2020 Categories')
top_2020_category

2018 Categories

                     offense_type  incident_count
0              FAMILY DISTURBANCE           10505
1             BURGLARY OF VEHICLE           10500
2                           THEFT            9109
3  ASSAULT W/INJURY-FAM/DATE VIOL            5701
4               CRIMINAL MISCHIEF            4632

 2019 Categories

                     offense_type  incident_count
0             BURGLARY OF VEHICLE           11753
1              FAMILY DISTURBANCE           10356
2                           THEFT            9603
3  ASSAULT W/INJURY-FAM/DATE VIOL            6128
4               CRIMINAL MISCHIEF            5530

 2020 Categories

                     offense_type  incident_count
0             BURGLARY OF VEHICLE           10958
1              FAMILY DISTURBANCE           10181
2                           THEFT            7445
3               CRIMINAL MISCHIEF            5890
4  ASSAULT W/INJURY-FAM/DATE VIOL            5610

### Top Incident Location Type

In [402]:
# create fucniton to query top location 
def query_top_loc(year): 
    return db_frame(f'''SELECT loc.location_type,
                                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN incident_location as loc
                            ON (cr.location_code = loc.location_code)
                            WHERE EXTRACT(year FROM cr.occurred_date)={year}
                            GROUP BY loc.location_type
                            ORDER BY incident_count DESC 
                            LIMIT 5
                            ;''')

top_2018_loc_type = query_top_loc('2018')
top_2019_loc_type = query_top_loc('2019')
top_2020_loc_type = query_top_loc('2020')

map column for percen

In [403]:
# extrac incident counts for the year 
incident_dict = incident_summary.loc['count'].to_dict()
incident_dict['2018_incidents']

99317.0

In [405]:
#create percentages columns 
top_2018_loc_type['%_of_annual_reports'] = top_2018_loc_type['incident_count']\
                                                    .apply(lambda x: round((x/incident_dict['2018_incidents'])*100,2))

top_2019_loc_type['%_of_annual_reports'] = top_2018_loc_type['incident_count']\
                                                    .apply(lambda x: round((x/incident_dict['2019_incidents'])*100,2))

top_2020_loc_type['%_of_annual_reports'] = top_2018_loc_type['incident_count']\
                                                    .apply(lambda x: round((x/incident_dict['2020_incidents'])*100,2))

In [407]:
#review
top_2018_loc_type
top_2019_loc_type
top_2020_loc_type

                  location_type  incident_count  %_of_annual_reports
0              RESIDENCE / HOME           39483                39.75
1  STREETS / HWY / ROAD / ALLEY           19017                19.15
2         PARKING LOTS / GARAGE           11804                11.89
3               OTHER / UNKNOWN            7204                 7.25
4   DEPARTMENT / DISCOUNT STORE            2363                 2.38

                  location_type  incident_count  %_of_annual_reports
0              RESIDENCE / HOME           40957                37.59
1  STREETS / HWY / ROAD / ALLEY           19522                18.10
2         PARKING LOTS / GARAGE           13294                11.24
3               OTHER / UNKNOWN            6455                 6.86
4  COMMERCIAL / OFFICE BUILDING            2956                 2.25

                  location_type  incident_count  %_of_annual_reports
0              RESIDENCE / HOME           44493                39.65
1  STREETS / HWY / ROAD / ALLEY           14790                19.10
2         PARKING LOTS / GARAGE           12525                11.85
3               OTHER / UNKNOWN            7018                 7.23
4  COMMERCIAL / OFFICE BUILDING            2767                 2.37

In [409]:
top_2018_loc_type.to_csv('data_extract_visualizations/top_2018_loc_type.csv', index=False)
top_2019_loc_type.to_csv('data_extract_visualizations/top_2019_loc_type.csv', index=False)
top_2020_loc_type.to_csv('data_extract_visualizations/top_2020_loc_type.csv', index=False)

### Location

In [357]:
# create dataframe with latitude longittude 
loc_frame = db_frame('''SELECT incident_report_number, 
                   district, 
                   latitude,
                   longitude
            FROM crime_incidents
            LIMIT 300;
                    ''')

In [355]:
loc_frame.head()

   incident_report_number district   latitude  longitude
0               201811444        1  30.197370 -97.809606
1             20195024716        7  30.147169 -97.779610
2               201811667        1  30.365829 -97.694539
3               201810550        6  30.192478 -97.731321
4             20205045035        4  30.386464 -97.699031

In [356]:
loc_frame.to_csv('loc_frame.csv',index=False)

### Locations with Highest Offense Count

#### by Zipcode

In [365]:
top_zip = db_frame('''SELECT zip_code, 
                            COUNT(incident_report_number) as incident_count
                      FROM  crime_incidents
                      GROUP BY zip_code
                      ORDER BY incident_count DESC
                      LIMIT 10;
                            ''')

In [366]:
top_zip

  zip_code  incident_count
0    78753           24521
1    78758           23912
2    78741           23763
3    78701           19864
4    78704           19356
5    78745           18797
6    78744           16830
7    78723           16508
8    78702           13536
9    78748           10642

#### by district

In [4]:
top_district = db_frame('''SELECT district, 
                            COUNT(incident_report_number) as incident_count
                      FROM  crime_incidents
                      GROUP BY district
                      ORDER BY incident_count DESC
                      LIMIT 10;
                            ''')

In [5]:
top_district.head()

  district  incident_count
0        2           60384
1        1           56612
2        4           37126
3        3           37125
4        5           31175

#### Report count by day and time of the week for all years

In [349]:
all_crime_day = db_frame(f'''SELECT TO_CHAR(occurred_date, 'DY') as day, COUNT(*),
            EXTRACT(HOUR FROM occurred_date) as hour,
            EXTRACT(YEAR FROM occurred_date) as year
            FROM crime_incidents 
            GROUP BY year, day, hour
            ;''')

In [ ]:
#review dataframe 
all_crime_day.head()

<i>Creating and converting columns to use as index for sorting</i>

In [350]:
#--convert hour column--
# create list for hour ocnversions 
hour_convert = ['12am','1am','2am','3am','4am','5am','6am','7am','8am','9am','10am','11am',
             '12pm','1pm','2pm','3pm','4pm','5pm','6pm','7pm','8pm','9pm','10pm','11pm']

# tuple current hour values and new ones 
hour_zip = [i for i in zip(all_crime_day.hour.unique(), h_convert)]

# loop thorugh values and covnert to dictionary 
hour_mapper = {}
for i in list(range(len(hour_zip))):
    hour_mapper[hour_zip[i][0]] = samp_list[i][1]
    
#convert column to new vbalues 
all_crime_day['hour'] = all_crime_day['hour'].apply(lambda x: hour_mapper[x])

In [351]:
#--create hour_index column 
#loop through values and insert into dictionary 
hour_index_mapper = {}
for i in list(range(len(hour_convert))):
    hour_index_mapper[hour_convert[i]] = i
    
#create new column with mapper 
all_crime_day['hour_index'] = all_crime_day['hour'].apply(lambda x: hour_index_mapper[x])

In [352]:
#--create day_index column--
#create day index mappers to sort columns  
day_index_mapper = {'SUN':1,'MON':2,'TUE':3,'WED':4,'THU':5,'FRI':6,'SAT':7}

# create fay index column 
all_crime_day['day_index'] = all_crime_day['day'].apply(lambda x: index_mapper[x])

In [353]:
#review 
all_crime_day.sample(5)

     day  count  hour    year  hour_index  day_index
501  WED    756   9pm  2020.0          21          4
5    FRI    175   5am  2018.0           5          6
61   SAT    565   1pm  2018.0          13          7
312  WED    818  12am  2019.0           0          4
442  THU    515  10am  2020.0          10          5

In [355]:
# sort data 
all_crime_day.sort_values(['year','day_index','hour_index'],inplace=True)

In [356]:
# review 
all_crime_day.head(5)

    day  count  hour    year  hour_index  day_index
72  SUN    980  12am  2018.0           0          1
73  SUN    797   1am  2018.0           1          1
74  SUN    749   2am  2018.0           2          1
75  SUN    546   3am  2018.0           3          1
76  SUN    322   4am  2018.0           4          1

In [368]:
#copy to format for plolty.js 
all_crime_day_transposed = all_crime_day.sort_values(['year','day_index','hour_index'], ascending=[True,False,True])

In [382]:
x = '2018.0'
x[:-2]

'2018'

In [387]:
all_crime_day_transposed['year'] = all_crime_day_transposed['year'].apply(lambda x: str(x))

In [389]:
all_crime_day_transposed['year'] = all_crime_day_transposed['year'].apply(lambda x: x[:-2])

In [390]:
all_crime_day_transposed.head()

    day  count  hour  year  hour_index  day_index
48  SAT    961  12am  2018           0          7
49  SAT    681   1am  2018           1          7
50  SAT    762   2am  2018           2          7
51  SAT    512   3am  2018           3          7
52  SAT    340   4am  2018           4          7

In [391]:
all_crime_day_transposed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504 entries, 48 to 431
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         504 non-null    object
 1   count       504 non-null    int64
 2   hour        504 non-null    object
 3   year        504 non-null    object
 4   hour_index  504 non-null    int64
 5   day_index   504 non-null    int64
dtypes: int64(3), object(3)
memory usage: 27.6+ KB

In [357]:
all_crime_day.to_csv('test_data/all_crime_day_v4.csv',index=False)

In [392]:
all_crime_day_transposed.to_csv('test_data/all_crime_day_transposed.csv', index=False)

### Report count by day and time of the week by year

In [206]:
def crime_day_time(year):
    return db_frame(f'''SELECT TO_CHAR(occurred_date, 'DY') as day, COUNT(*),
            EXTRACT(HOUR FROM occurred_date) as hour
            FROM crime_incidents 
            WHERE EXTRACT(YEAR FROM occurred_date) = {year}
            GROUP BY day, hour
            ;''')

In [55]:
crime_day_2018 = crime_day_time('2018')
crime_day_2019 = crime_day_time('2019')
crime_day_2020 = crime_day_time('2020')

In [59]:
crime_day_2018.info()
crime_day_2019.info()
crime_day_2020.info()

   day  count  hour
0  FRI    828   0.0
1  FRI    602   1.0
2  FRI    540   2.0
3  FRI    336   3.0
4  FRI    231   4.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     168 non-null    object
 1   count   168 non-null    int64
 2   hour    168 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   day     168 non-null    object
 1   count   168 non-null    int64
 2   hour    168 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 4.1+ KB

In [61]:
crime_day_2018.to_csv('data_extract_visualizations/crime_day_18.csv',index=False)
crime_day_2019.to_csv('data_extract_visualizations/crime_day_19.csv',index=False)
crime_day_2020.to_csv('data_extract_visualizations/crime_day_20.csv',index=False)