In [13]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import config
import plotly.express as px

## Test database querying

In [8]:
#setup database connection
database = f"postgres://{config.db_user}:{config.db_password}@localhost:5432/austin_crime"
engine = create_engine(database)

In [9]:
# query into dataframe 
crime_incident_count = pd.read_sql_query('SELECT COUNT(*) FROM crime_incidents',con=engine)

In [10]:
crime_incident_count

    count
0  303939

In [11]:
#query incidents 
crime_incident_sample = pd.read_sql_query('SELECT * FROM crime_incidents LIMIT 8',con=engine)

In [12]:
crime_incident_sample

,incident_report_number,offense_code,family_violence,occurred_date,reported_date,zip_code,district,latitude,longitude,clearance_status,clearance_date,location_code
0,201811444,3400,False,2018-01-01 16:58:00,2018-01-01 16:58:00,78745,1,30.197370,-97.809606,N,None,0
1,20195024716,2717,False,2018-01-01 14:00:00,2019-06-17 10:20:00,78747,7,30.147169,-97.779610,N,2019-06-18,1
2,201811667,300,False,2018-01-01 19:47:00,2018-01-01 19:47:00,78753,1,30.365829,-97.694539,C,2018-01-03,2
3,201810550,1803,False,2018-01-01 02:51:00,2018-01-01 06:49:00,78744,6,30.192478,-97.731321,N,None,0
4,20205045035,4022,False,2018-01-01 12:00:00,2020-11-06 10:37:00,78758,4,30.386464,-97.699031,N,2020-11-06,1
5,201811389,3458,False,2018-01-01 15:11:00,2018-01-01 16:42:00,78741,3,30.234337,-97.713988,N,2018-02-21,1
6,201811005,3399,False,2018-01-01 14:54:00,2018-01-01 14:54:00,78758,2,30.369169,-97.717019,N,2018-01-04,1
7,201820366,502,False,2018-01-01 11:50:00,2018-01-02 11:30:00,78702,1,30.262286,-97.722051,N,2018-03-06,3

In [14]:
#query location and offense table 
location_table = pd.read_sql_query('SELECT * FROM incident_location',con=engine)
offense_table = pd.read_sql_query('SELECT * FROM offense_type',con=engine)

In [17]:
location_table.head()
offense_table.head()

  location_code                 location_type
0             0  STREETS / HWY / ROAD / ALLEY
1             1              RESIDENCE / HOME
2             2   DEPARTMENT / DISCOUNT STORE
3             3               OTHER / UNKNOWN
4             4         PARKING LOTS / GARAGE

  offense_code               offense_type
0         3400         FAMILY DISTURBANCE
1         2717         CRUELTY TO ANIMALS
2          300  AGG ROBBERY/DEADLY WEAPON
3         1803    POSSESSION OF MARIJUANA
4         4022             IDENTITY THEFT