# Austin Crime Data (2018-2020) - Exploratory Data Analysis

## Environment Setup

In [1]:
#import dependencies 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import config
import plotly.express as px

In [2]:
#setup postgres database connection
database = f"postgres://{config.db_user}:{config.db_password}@localhost:5432/austin_crime"
engine = create_engine(database)

In [4]:
# create function to streamline querying into dataframe
def db_frame(query):
    return pd.read_sql_query(query, con=engine)

### Incidents by year

In [334]:
# create summary dataframe and add data 
incident_summary = db_frame('''SELECT COUNT(*) FROM crime_incidents''')

#create function to reduce query redundancy 
def query_crime_count(year): 
    return db_frame(f'''SELECT COUNT(*) 
                       FROM crime_incidents 
                       WHERE EXTRACT(year FROM occurred_date)={year};''')
# rename column
incident_summary.rename({'count':'total_incidents'},axis=1,inplace=True)

# query incident countts by year 
incident_summary['2020_incidents'] = query_crime_count('2020')
incident_summary['2019_incidents'] = query_crime_count('2019')
incident_summary['2018_incidents'] = query_crime_count('2018')

#rename column
incident_summary.rename({0:'count'}, axis=0, inplace=True)

incident_percent = []
#extract values fro summary 
for i in incident_summary.values[0]: 
    #calculate percentages and add to list 
    incident_percent.append(round((i/incident_summary.values[0][0])*100,2))
    
#create percantage row and add values 
incident_summary = incident_summary.append(
    pd.Series({'total_incidents':incident_percent[0],
               '2020_incidents':incident_percent[1],
               '2019_incidents':incident_percent[2],
               '2018_incidents':incident_percent[3]}, 
                  name='percentage'))

incident_summary

            total_incidents  2020_incidents  2019_incidents  2018_incidents
count              303939.0        99580.00       105042.00        99317.00
percentage            100.0           32.76           34.56           32.68

### Unique Offense Types

In [350]:
count_offense_type = db_frame('''SELECT COUNT(*)
                             FROM offense_type;''') 
count_offense_type.rename({'count':'Number of Unique Offenses'})
count_offense_type.rename({'count':'Number of Offense Types'}, inplace=True)

   count
0    301

### Top Offense Type by Year

In [338]:
# create fucntion to return top categories based on year input 
def query_top_crime(year): 
     return  db_frame(f'''SELECT of.offense_type,
                                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN offense_type as of
                            ON (cr.offense_code = of.offense_code)
                            WHERE EXTRACT(year FROM occurred_date)={year}
                            GROUP BY of.offense_type
                            ORDER BY incident_count DESC 
                            LIMIT 5
                            ;''')
    
#query top crime categories with funciton   
top_2018_category = query_top_crime('2018')
top_2019_category = query_top_crime('2019')
top_2020_category = query_top_crime('2020')

In [339]:
print('2018 Categories')
top_2018_category
print('\n 2019 Categories')
top_2019_category
print('\n 2020 Categories')
top_2020_category

2018 Categories

                     offense_type  incident_count
0              FAMILY DISTURBANCE           10505
1             BURGLARY OF VEHICLE           10500
2                           THEFT            9109
3  ASSAULT W/INJURY-FAM/DATE VIOL            5701
4               CRIMINAL MISCHIEF            4632

 2019 Categories

                     offense_type  incident_count
0             BURGLARY OF VEHICLE           11753
1              FAMILY DISTURBANCE           10356
2                           THEFT            9603
3  ASSAULT W/INJURY-FAM/DATE VIOL            6128
4               CRIMINAL MISCHIEF            5530

 2020 Categories

                     offense_type  incident_count
0             BURGLARY OF VEHICLE           10958
1              FAMILY DISTURBANCE           10181
2                           THEFT            7445
3               CRIMINAL MISCHIEF            5890
4  ASSAULT W/INJURY-FAM/DATE VIOL            5610

### Top Offense Location Ttype

In [348]:
# create fucniton to query top location 
def query_top_loc(year): 
    return db_frame(f'''SELECT loc.location_type,
                                            COUNT(cr.incident_report_number) as incident_count                                              
                            FROM crime_incidents as cr 
                            LEFT JOIN incident_location as loc
                            ON (cr.location_code = loc.location_code)
                            WHERE EXTRACT(year FROM cr.occurred_date)={year}
                            GROUP BY loc.location_type
                            ORDER BY incident_count DESC 
                            LIMIT 5
                            ;''')

top_2018_loc = query_top_loc('2018')
top_2019_loc = query_top_loc('2019')
top_2020_loc = query_top_loc('2020')

In [349]:
top_2018_loc
top_2019_loc
top_2020_loc

                  location_type  incident_count
0              RESIDENCE / HOME           39483
1  STREETS / HWY / ROAD / ALLEY           19017
2         PARKING LOTS / GARAGE           11804
3               OTHER / UNKNOWN            7204
4   DEPARTMENT / DISCOUNT STORE            2363

                  location_type  incident_count
0              RESIDENCE / HOME           40957
1  STREETS / HWY / ROAD / ALLEY           19522
2         PARKING LOTS / GARAGE           13294
3               OTHER / UNKNOWN            6455
4  COMMERCIAL / OFFICE BUILDING            2956

                  location_type  incident_count
0              RESIDENCE / HOME           44493
1  STREETS / HWY / ROAD / ALLEY           14790
2         PARKING LOTS / GARAGE           12525
3               OTHER / UNKNOWN            7018
4  COMMERCIAL / OFFICE BUILDING            2767

## Location

In [357]:
# create dataframe with latitude longittude 
loc_frame = db_frame('''SELECT incident_report_number, 
                   district, 
                   latitude,
                   longitude
            FROM crime_incidents
            LIMIT 300;
                    ''')

In [355]:
loc_frame.head()

   incident_report_number district   latitude  longitude
0               201811444        1  30.197370 -97.809606
1             20195024716        7  30.147169 -97.779610
2               201811667        1  30.365829 -97.694539
3               201810550        6  30.192478 -97.731321
4             20205045035        4  30.386464 -97.699031

In [356]:
loc_frame.to_csv('loc_frame.csv',index=False)