In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import config
import plotly.express as px

In [2]:
#setup postgres database connection
database = f"postgres://{config.db_user}:{config.db_password}@localhost:5432/austin_crime"
engine = create_engine(database)

In [4]:
# define function to streamline querying into dataframe
def db_frame(query):
    return pd.read_sql_query(query, con=engine)

In [116]:
# create summary dataframe and add data 
incident_summary = db_frame('''SELECT COUNT(*) FROM crime_incidents''')
# rename column
incident_summary.rename({'count':'total_incidents'},axis=1,inplace=True)

# count of incidents by year
incident_summary['2020_incidents'] = db_frame('''SELECT COUNT(*)
                                                 FROM crime_incidents 
                                                 WHERE occurred_date BETWEEN '2020/01/01' AND '2020/12/31';''')
# count of 2020 incidents 
incident_summary['2019_incidents'] = db_frame('''SELECT COUNT(*)
                                                 FROM crime_incidents 
                                                 WHERE occurred_date BETWEEN '2019/01/01' AND '2019/12/31';''')
# count of 2020 incidents 
incident_summary['2018_incidents'] = db_frame('''SELECT COUNT(*)
                                                 FROM crime_incidents 
                                                 WHERE occurred_date BETWEEN '2018/01/01' AND '2018/12/31';''')

In [117]:
incident_summary

   total_incidents  2020_incidents  2019_incidents  2018_incidents
0           303939           99347          104789           99062

In [111]:
incident_summary

    count  2020_incidents
0  303939           99347