In [11]:
# import dependencies 
import requests 
import pandas as pd
import time

## Test API / Data retrieval

In [12]:
# API request for crime data 
r = requests.get("https://data.austintexas.gov/resource/fdj4-gpfu.json?$limit=10000")
# status for API request
r.status_code

200

In [13]:
len(r.json())

10000

In [15]:
crime_incident_data = pd.DataFrame.from_records(r.json())

----------------

## Review Data

In [46]:
# display all column 
crime_incident_data[crime_incident_data.columns][0:5]

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,clearance_status,clearance_date
0,20215006549,BURGLARY OF VEHICLE,601,N,2021-02-20T17:00:00.000,2021-02-20T00:00:00.000,1700,2021-02-20T23:35:00.000,2021-02-20T00:00:00.000,2335,...,3125701,30.32530599,-97.7051651,"{'latitude': '30.32530599', 'longitude': '-97....",3641,4,9,202,NaN,NaN
1,20215006547,BURGLARY NON RESIDENCE,502,N,2021-02-20T14:47:00.000,2021-02-20T00:00:00.000,1447,2021-02-20T18:41:00.000,2021-02-20T00:00:00.000,1841,...,3137519,30.4088995,-97.66538535,"{'latitude': '30.4088995', 'longitude': '-97.6...",3642,7,7,1889,NaN,NaN
2,2021510833,CRIMINAL MISCHIEF,1400,N,2021-02-20T14:41:00.000,2021-02-20T00:00:00.000,1441,2021-02-20T14:41:00.000,2021-02-20T00:00:00.000,1441,...,3129379,30.37078232,-97.69225943,"{'latitude': '30.37078232', 'longitude': '-97....",3642,4,9,1404,NaN,NaN
3,2021510758,RESISTING ARREST OR SEARCH,905,N,2021-02-20T14:30:00.000,2021-02-20T00:00:00.000,1430,2021-02-20T16:30:00.000,2021-02-20T00:00:00.000,1630,...,3115258,30.26755605,-97.73982607,"{'latitude': '30.26755605', 'longitude': '-97....",2856,9,10,NaN,NaN,NaN
4,2021210510728,CRIMINAL TRESPASS,2716,N,2021-02-20T13:47:00.000,2021-02-20T00:00:00.000,1347,2021-02-20T13:47:00.000,2021-02-20T00:00:00.000,1347,...,3129379,30.37078232,-97.69225943,"{'latitude': '30.37078232', 'longitude': '-97....",3642,4,9,1404,NaN,NaN

In [226]:
# review time columns 
crime_incident_data.occ_date_time[0]

'2021-02-20T17:00:00.000'

In [47]:
#create list of unneeded/redundant columns to drop 
drop_column_list = ['latitude', 'longitude', 'x_coordinate', 'y_coordinate',
                    'occ_date', 'occ_time','rep_date','rep_time','category_description', 'address'
                    ':@computed_region_a3it_2a2z', ':@computed_region_8spj_utxs',
                    ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m',
                   ]

In [31]:
crime_incident_data.columns
crime_incident_data.columns.shape

Index(['incident_report_number', 'crime_type', 'ucr_code', 'family_violence',
       'occ_date_time', 'occ_date', 'occ_time', 'rep_date_time', 'rep_date',
       'rep_time', 'location_type', 'address', 'zip_code', 'council_district',
       'sector', 'district', 'pra', 'ucr_category', 'category_description',
       'x_coordinate', 'y_coordinate', 'latitude', 'longitude', 'location',
       ':@computed_region_a3it_2a2z', ':@computed_region_8spj_utxs',
       ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m',
       'clearance_status', 'clearance_date'],
      dtype='object')

(30,)

In [48]:
stripped_crime_data = crime_incident_data.copy()
stripped_crime_data.drop(drop_column_list, axis=1, inplace=True)

In [55]:
# review remaining columns data types
stripped_crime_data.info()
# print remaining number of columns 
stripped_crime_data.columns.size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   incident_report_number  10000 non-null  object
 1   crime_type              10000 non-null  object
 2   ucr_code                10000 non-null  object
 3   family_violence         10000 non-null  object
 4   occ_date_time           10000 non-null  object
 5   rep_date_time           10000 non-null  object
 6   location_type           9999 non-null   object
 7   address                 10000 non-null  object
 8   zip_code                9898 non-null   object
 9   council_district        9883 non-null   object
 10  sector                  9923 non-null   object
 11  district                9920 non-null   object
 12  pra                     9910 non-null   object
 13  ucr_category            3930 non-null   object
 14  category_description    3930 non-null   object
 15  location                9834 non-null   object
 16  clearance_status        7378 non-null   object
 17  clearance_date          7378 non-null   object
dtypes: object(18)
memory usage: 1.4+ MB

18

In [217]:
# review data 
stripped_crime_data.sample(10)

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,rep_date_time,location_type,address,zip_code,council_district,sector,district,pra,ucr_category,category_description,location,clearance_status,clearance_date
9621,20215001076,CRIMINAL MISCHIEF,1400,N,2021-01-07T19:00:00.000,2021-01-08T12:09:00.000,COMMERCIAL / OFFICE BUILDING,2004 BERT AVE,78704,5,DA,4,467,NaN,NaN,"{'latitude': '30.23335975', 'longitude': '-97....",N,2021-01-08T00:00:00.000
9538,202180084,ASSAULT WITH INJURY,900,N,2021-01-08T01:25:00.000,2021-01-08T01:25:00.000,RESIDENCE / HOME,2300 W NORTH LOOP BLVD,78756,7,BA,6,287,NaN,NaN,"{'latitude': '30.32591896', 'longitude': '-97....",N,2021-02-01T00:00:00.000
4291,2021281122,RESISTING ARREST OR SEARCH,905,N,2021-01-28T19:35:00.000,2021-01-28T19:35:00.000,STREETS / HWY / ROAD / ALLEY,W BEN WHITE BLVD SVRD EB / MENCHACA RD,78745,5,DA,3,489,NaN,NaN,"{'latitude': '30.22963221', 'longitude': '-97....",C,2021-01-28T00:00:00.000
8895,2021101355,CRIMINAL MISCHIEF,1400,N,2021-01-10T22:42:00.000,2021-01-10T22:42:00.000,COMMERCIAL / OFFICE BUILDING,5800 TECHNI CENTER DR,78721,1,CH,5,397,NaN,NaN,"{'latitude': '30.27877475', 'longitude': '-97....",N,2021-01-26T00:00:00.000
3950,2021300191,FAMILY DISTURBANCE,3400,N,2021-01-30T02:28:00.000,2021-01-30T02:28:00.000,STREETS / HWY / ROAD / ALLEY,W 8TH ST / WEST AVE,78701,9,GE,1,373,NaN,NaN,"{'latitude': '30.27209998', 'longitude': '-97....",NaN,NaN
3364,2021320946,THEFT FROM PERSON,610,N,2021-02-01T15:45:00.000,2021-02-01T15:52:00.000,RESIDENCE / HOME,9801 W PARMER LN,78717,6,AD,5,574,23A,Theft,"{'latitude': '30.48543801', 'longitude': '-97....",N,2021-02-10T00:00:00.000
9911,20215000871,BURGLARY OF VEH-NO SUSPECT/FU,601,N,2021-01-06T15:00:00.000,2021-01-07T10:11:00.000,PARKING LOTS / GARAGE,3800 MOUNT BONNELL RD,78731,10,BA,7,314,23F,Theft,"{'latitude': '30.32104847', 'longitude': '-97....",N,2021-01-22T00:00:00.000
8543,20218000628,THEFT,600,N,2021-01-12T14:30:00.000,2021-01-29T10:16:00.000,RESIDENCE / HOME,1505 LORRAIN ST,78703,9,BA,2,357,23H,Theft,"{'latitude': '30.28165965', 'longitude': '-97....",N,2021-01-29T00:00:00.000
6307,20215002873,BURGLARY NON RESIDENCE,502,N,2021-01-21T08:00:00.000,2021-01-21T14:01:00.000,RESTAURANTS,10515 N MOPAC EXPY NB,78758,7,AD,1,216,220,Burglary,"{'latitude': '30.38938097', 'longitude': '-97....",N,2021-01-25T00:00:00.000
8804,2021110542,DATING DISTURBANCE,2400,N,2021-01-11T11:47:00.000,2021-01-11T11:47:00.000,RESIDENCE / HOME,2808 LYONS RD,78702,3,CH,2,423,NaN,NaN,"{'latitude': '30.26377086', 'longitude': '-97....",NaN,NaN

### datetime formats

In [241]:
# test visualization of datetime format
import plotly.graph_objects as go
import numpy as np

fig = go.Figure(data=go.Scatter(x=stripped_crime_data['occ_date_time'][20:80], y=stripped_crime_data['ucr_code'][20:80]))
fig.write_html('viz_0.html')

In [335]:
#import dependency 
from datetime import datetime

#remove timestamp denotation
date_series = stripped_crime_data.occ_date_time.apply(lambda x: x.replace('T',' '))
date_series[0]

#convert from string to datetime format 
date_string = date_series[0]
date_string

date_object1 = datetime.strptime(date_string,"%Y-%m-%d %H:%M:%S.%f")
date_object1

# access date in from datetime 
date_object2 = date_object1.date()
date_object2

#access time from datetime 
date_object3 = date_object1.time()
date_object3

'2021-02-20 17:00:00.000'

'2021-02-20 17:00:00.000'

datetime.datetime(2021, 2, 20, 17, 0)

datetime.date(2021, 2, 20)

datetime.time(17, 0)

---------------------------

## Database  
creating dataframes to map database table relationships

### Offense table

In [204]:
# offense_type table 
offense_type_df = stripped_crime_data[['ucr_code','crime_type']].copy()
offense_type_df.drop_duplicates(subset='ucr_code', inplace=True)

In [208]:
# 189 unique offense codes
offense_type_df.head()
offense_type_df.shape

  ucr_code                  crime_type
0      601         BURGLARY OF VEHICLE
1      502      BURGLARY NON RESIDENCE
2     1400           CRIMINAL MISCHIEF
3      905  RESISTING ARREST OR SEARCH
4     2716           CRIMINAL TRESPASS

(189, 2)

In [212]:
offense_type_df.isnull().values.any()

False

In [214]:
#rename test 
offense_type_df.rename(columns={'ucr_code':'offense_code','crime_type':'offense_description'})

     offense_code           offense_description
0             601           BURGLARY OF VEHICLE
1             502        BURGLARY NON RESIDENCE
2            1400             CRIMINAL MISCHIEF
3             905    RESISTING ARREST OR SEARCH
4            2716             CRIMINAL TRESPASS
...           ...                           ...
9301         1716                 FORCED SODOMY
9572         2718            THEFT BY EXTORTION
9616          907  TAMPERING WITH CONSUMER PROD
9721         2601                     OBSCENITY
9949         1001         FORGERY BY ALTERATION

[189 rows x 2 columns]

## location table

In [337]:
stripped_crime_data.head()

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,rep_date_time,location_type,address,zip_code,council_district,sector,district,pra,ucr_category,category_description,location,clearance_status,clearance_date
0,20215006549,BURGLARY OF VEHICLE,601,N,2021-02-20T17:00:00.000,2021-02-20T23:35:00.000,RESTAURANTS,6319 N IH 35 SVRD NB,78752,4,ID,1,280,23F,Theft,"{'latitude': '30.32530599', 'longitude': '-97....",NaN,NaN
1,20215006547,BURGLARY NON RESIDENCE,502,N,2021-02-20T14:47:00.000,2021-02-20T18:41:00.000,PARKING LOTS / GARAGE,13301 CENTER LAKE DR,78753,7,ED,6,206,220,Burglary,"{'latitude': '30.4088995', 'longitude': '-97.6...",NaN,NaN
2,2021510833,CRIMINAL MISCHIEF,1400,N,2021-02-20T14:41:00.000,2021-02-20T14:41:00.000,CONVENIENCE STORE,10111 N LAMAR BLVD,78753,4,ED,1,240,NaN,NaN,"{'latitude': '30.37078232', 'longitude': '-97....",NaN,NaN
3,2021510758,RESISTING ARREST OR SEARCH,905,N,2021-02-20T14:30:00.000,2021-02-20T16:30:00.000,STREETS / HWY / ROAD / ALLEY,310 E 6TH ST,78701,9,GE,2,381,NaN,NaN,"{'latitude': '30.26755605', 'longitude': '-97....",NaN,NaN
4,2021210510728,CRIMINAL TRESPASS,2716,N,2021-02-20T13:47:00.000,2021-02-20T13:47:00.000,CONVENIENCE STORE,10111 N LAMAR BLVD,78753,4,ED,1,240,NaN,NaN,"{'latitude': '30.37078232', 'longitude': '-97....",NaN,NaN

In [381]:
#43 unique location types out of 1000 rows (by default does not count null values)
stripped_crime_data.location_type.nunique()

43

In [529]:
# create location dataframe with only unique values  
location_df = stripped_crime_data['location_type'].copy()
location_df = location_df.to_frame()
 
location_df.drop_duplicates(inplace=True)

In [530]:
# check for null values, if any remove
location_null_list = location_df[location_df['location_type'].isnull()].index
# print ammount of null values
len(location_null_list)

#dro null value(s)
location_df.drop(location_null_list, axis=0,inplace=True)

1

In [531]:
#create numbered column to be used as unique identifier between tables 
location_df['location_code'] = np.arange(len(location_df))
# rearange dataframe

In [532]:
location_df.info() 
print('\n')
location_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 0 to 9981
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   location_type  43 non-null     object
 1   location_code  43 non-null     int32
dtypes: int32(1), object(1)
memory usage: 860.0+ bytes

                  location_type  location_code
0                   RESTAURANTS              0
1         PARKING LOTS / GARAGE              1
2             CONVENIENCE STORE              2
3  STREETS / HWY / ROAD / ALLEY              3
7              RESIDENCE / HOME              4

In [539]:
# rearange dataframe
location_df = location_df[['location_code','location_type']]
location_df.head()

   location_code                 location_type
0              0                   RESTAURANTS
1              1         PARKING LOTS / GARAGE
2              2             CONVENIENCE STORE
3              3  STREETS / HWY / ROAD / ALLEY
7              4              RESIDENCE / HOME

-----

In [533]:
# creating mapping of location type to use as encoder for main incident dataframe
map_location_df = location_df.copy()
map_location_df.set_index('location_type', inplace=True)

In [534]:
location_mapper = map_location_df.to_dict()['location_code'].copy()
print(location_mapper)

{'RESTAURANTS': 0, 'PARKING LOTS / GARAGE': 1, 'CONVENIENCE STORE': 2, 'STREETS / HWY / ROAD / ALLEY': 3, 'RESIDENCE / HOME': 4, 'RENTAL STORAGE FACILITY': 5, 'DEPARTMENT / DISCOUNT STORE': 6, 'BANKS / SAVINGS & LOAN': 7, 'TRANSPORTATION (AIR / BUS / TRAIN - TERMINALS)': 8, 'HOTEL / MOTEL / ETC.': 9, 'DRUG STORE / DR. OFFICE / HOSPITAL': 10, 'GAS / SERVICE STATIONS': 11, 'SHELTER-MISSION / HOMELESS': 12, 'COMMERCIAL / OFFICE BUILDING': 13, 'OTHER / UNKNOWN': 14, 'SPECIALTY  STORE (TV  FUR ETC.)': 15, 'ARENA / STADIUM / FAIRGROUNDS / COLISEUM': 16, 'LIQUOR STORE': 17, 'INDUSTRIAL SITE': 18, 'GROCERY / SUPERMARKET': 19, 'COMMUNITY CENTER': 20, 'BAR / NIGHT CLUB': 21, 'CHURCH / SYNAGOGUE / TEMPLE / MOSQUE': 22, 'SHOPPING MALL': 23, 'GOVERNMENT / PUBLIC BUILDING': 24, 'CYBERSPACE': 25, 'AMUSEMENT PARK': 26, 'PARK / PLAYGROUND': 27, 'CAMP / CAMPGROUND': 28, 'AUTO DEALERSHIP NEW / USED': 29, 'SCHOOL - ELEMENTARY / SECONDARY': 30, 'CONSTRUCTION SITE': 31, 'SCHOOL - COLLEGE / UNIVERSITY': 32, 'DAYCARE FACILITY': 33, 'ATM SEPARATE FROM BANK': 34, 'FIELD / WOODS': 35, 'GAMBLING FACILITY / CASINO / RACE TRACK': 36, 'JAIL / PRISON': 37, 'LAKE / WATERWAY': 38, 'ABANDONED/CONDEMNED STRUCTURE': 39, 'DOCK / WHARF / FREIGHT / MODAL TERMINAL': 40, 'SCHOOLS / COLLEGES': 41, 'REST AREA': 42}

In [551]:
location_mapper[stripped_crime_data['location_type'][0]]

0

In [548]:
# test mapper 
stripped_crime_data[stripped_crime_data.columns[0:7]].head(2)

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,rep_date_time,location_type
0,20215006549,BURGLARY OF VEHICLE,601,N,2021-02-20T17:00:00.000,2021-02-20T23:35:00.000,RESTAURANTS
1,20215006547,BURGLARY NON RESIDENCE,502,N,2021-02-20T14:47:00.000,2021-02-20T18:41:00.000,PARKING LOTS / GARAGE

In [550]:
# replace and encode location column 
stripped_crime_data['location_type'] = stripped_crime_data['location_type'].apply(lambda x: location_mapper[x])

KeyError: nan

In [554]:
stripped_crime_data[stripped_crime_data.isnull()]

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,rep_date_time,location_type,address,zip_code,council_district,sector,district,pra,ucr_category,category_description,location,clearance_status,clearance_date
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN