## ETL Data pipeline

In [1]:
# import dependencies 
import requests 
import pandas as pd
import time 
from datetime import datetime
import numpy as np 
import config

### Extraction

In [18]:
url = "https://data.austintexas.gov/resource/fdj4-gpfu.json?$limit=100&$where=occ_date between '2018-01-01T00:00:00.000' and '2020-12-31T00:00:00.000'"

In [19]:
# optional parameter for aditonal api parameters/filters
def extract_data(api_endpoint,parameters=None): 
    data_request = requests.get(url=api_endpoint, params=parameters)
    
    data_df = pd.DataFrame.from_records(data_request.json())
    
    return data_df

In [20]:
crime_df = extract_data(url)

In [22]:
crime_df.head()

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,x_coordinate,y_coordinate,latitude,longitude,location,census_tract,clearance_status,clearance_date,ucr_category,category_description
0,201811444,FAMILY DISTURBANCE,3400,N,2018-01-01T16:58:00.000,2018-01-01T00:00:00.000,1658,2018-01-01T16:58:00.000,2018-01-01T00:00:00.000,1658,...,3093814,3093814,30.19737037,-97.80960579,"{'latitude': '30.19737037', 'longitude': '-97....",NaN,NaN,NaN,NaN,NaN
1,20195024716,CRUELTY TO ANIMALS,2717,N,2018-01-01T14:00:00.000,2018-01-01T00:00:00.000,1400,2019-06-17T10:20:00.000,2019-06-17T00:00:00.000,1020,...,3103707,3103707,30.14716858,-97.77960983,"{'latitude': '30.14716858', 'longitude': '-97....",24.28,N,2019-06-18T00:00:00.000,NaN,NaN
2,201811667,AGG ROBBERY/DEADLY WEAPON,300,N,2018-01-01T19:47:00.000,2018-01-01T00:00:00.000,1947,2018-01-01T19:47:00.000,2018-01-01T00:00:00.000,1947,...,3128703,3128703,30.36582905,-97.69453919,"{'latitude': '30.36582905', 'longitude': '-97....",NaN,C,2018-01-03T00:00:00.000,120,Robbery
3,201810550,POSSESSION OF MARIJUANA,1803,N,2018-01-01T02:51:00.000,2018-01-01T00:00:00.000,251,2018-01-01T06:49:00.000,2018-01-01T00:00:00.000,649,...,3118581,3118581,30.19247824,-97.73132061,"{'latitude': '30.19247824', 'longitude': '-97....",NaN,NaN,NaN,NaN,NaN
4,20205045035,IDENTITY THEFT,4022,N,2018-01-01T12:00:00.000,2018-01-01T00:00:00.000,1200,2020-11-06T10:37:00.000,2020-11-06T00:00:00.000,1037,...,3127109,3127109,30.38646396,-97.69903136,"{'latitude': '30.38646396', 'longitude': '-97....",NaN,N,2020-11-06T00:00:00.000,NaN,NaN

### Transform

In [ ]:
def clean_data():
    
    
    return crime_df

In [ ]:
def create_tables(cleaned_data_df):
     
    #offense_type_table 
    offense_type_df = cleaned_data_df[['offense_code','offense_type']].copy()
    
    
    #create incident_location_table 
    location_df = cleaned_data_df['location_type'].copy()
    location_df.to_frame()
    location_df.drop_duplicates(inplace=True)
    location_df['location_code'] = np.arrange(len(incident_loc_df))
    
    #create mapping for location_code column
    loc_mapping_df = location_df.copy()
    loc_mapping_df.set_index('location_type', inplace=True)
    location_mapper = loc_mapping_df.to_dict()['location_code']
    
    # rearrange location_df
    location_df = lcoation_df[['locations_code','location_type']]
    
    
    #crime_incidents_table 
    crime_incident_df = crime_df
    
    
    return