In [11]:
# import dependencies 
import requests 
import pandas as pd
import time

## Test API / Data retrieval

In [12]:
# API request for crime data 
r = requests.get("https://data.austintexas.gov/resource/fdj4-gpfu.json?$limit=10000")
# status for API request
r.status_code

200

In [13]:
len(r.json())

10000

In [15]:
crime_incident_data = pd.DataFrame.from_records(r.json())

----------------

## Review Data

In [46]:
# display all column 
crime_incident_data[crime_incident_data.columns][0:5]

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,occ_date,occ_time,rep_date_time,rep_date,rep_time,...,y_coordinate,latitude,longitude,location,:@computed_region_a3it_2a2z,:@computed_region_8spj_utxs,:@computed_region_q9nd_rr82,:@computed_region_qwte_z96m,clearance_status,clearance_date
0,20215006549,BURGLARY OF VEHICLE,601,N,2021-02-20T17:00:00.000,2021-02-20T00:00:00.000,1700,2021-02-20T23:35:00.000,2021-02-20T00:00:00.000,2335,...,3125701,30.32530599,-97.7051651,"{'latitude': '30.32530599', 'longitude': '-97....",3641,4,9,202,NaN,NaN
1,20215006547,BURGLARY NON RESIDENCE,502,N,2021-02-20T14:47:00.000,2021-02-20T00:00:00.000,1447,2021-02-20T18:41:00.000,2021-02-20T00:00:00.000,1841,...,3137519,30.4088995,-97.66538535,"{'latitude': '30.4088995', 'longitude': '-97.6...",3642,7,7,1889,NaN,NaN
2,2021510833,CRIMINAL MISCHIEF,1400,N,2021-02-20T14:41:00.000,2021-02-20T00:00:00.000,1441,2021-02-20T14:41:00.000,2021-02-20T00:00:00.000,1441,...,3129379,30.37078232,-97.69225943,"{'latitude': '30.37078232', 'longitude': '-97....",3642,4,9,1404,NaN,NaN
3,2021510758,RESISTING ARREST OR SEARCH,905,N,2021-02-20T14:30:00.000,2021-02-20T00:00:00.000,1430,2021-02-20T16:30:00.000,2021-02-20T00:00:00.000,1630,...,3115258,30.26755605,-97.73982607,"{'latitude': '30.26755605', 'longitude': '-97....",2856,9,10,NaN,NaN,NaN
4,2021210510728,CRIMINAL TRESPASS,2716,N,2021-02-20T13:47:00.000,2021-02-20T00:00:00.000,1347,2021-02-20T13:47:00.000,2021-02-20T00:00:00.000,1347,...,3129379,30.37078232,-97.69225943,"{'latitude': '30.37078232', 'longitude': '-97....",3642,4,9,1404,NaN,NaN

In [44]:
# review time columns 
crime_incident_data.occ_date_time[0]

'2021-02-20T17:00:00.000'

In [47]:
#create list of unneeded/redundant columns to drop 
drop_column_list = ['latitude', 'longitude', 'x_coordinate', 'y_coordinate',
                    'occ_date', 'occ_time','rep_date','rep_time',
                    ':@computed_region_a3it_2a2z', ':@computed_region_8spj_utxs',
                    ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m',
                   ]

In [31]:
crime_incident_data.columns
crime_incident_data.columns.shape

Index(['incident_report_number', 'crime_type', 'ucr_code', 'family_violence',
       'occ_date_time', 'occ_date', 'occ_time', 'rep_date_time', 'rep_date',
       'rep_time', 'location_type', 'address', 'zip_code', 'council_district',
       'sector', 'district', 'pra', 'ucr_category', 'category_description',
       'x_coordinate', 'y_coordinate', 'latitude', 'longitude', 'location',
       ':@computed_region_a3it_2a2z', ':@computed_region_8spj_utxs',
       ':@computed_region_q9nd_rr82', ':@computed_region_qwte_z96m',
       'clearance_status', 'clearance_date'],
      dtype='object')

(30,)

In [48]:
stripped_crime_data = crime_incident_data.copy()
stripped_crime_data.drop(drop_column_list, axis=1, inplace=True)

In [55]:
# review remaining columns data types
stripped_crime_data.info()
# print remaining number of columns 
stripped_crime_data.columns.size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   incident_report_number  10000 non-null  object
 1   crime_type              10000 non-null  object
 2   ucr_code                10000 non-null  object
 3   family_violence         10000 non-null  object
 4   occ_date_time           10000 non-null  object
 5   rep_date_time           10000 non-null  object
 6   location_type           9999 non-null   object
 7   address                 10000 non-null  object
 8   zip_code                9898 non-null   object
 9   council_district        9883 non-null   object
 10  sector                  9923 non-null   object
 11  district                9920 non-null   object
 12  pra                     9910 non-null   object
 13  ucr_category            3930 non-null   object
 14  category_description    3930 non-null   object
 15  location                9834 non-null   object
 16  clearance_status        7378 non-null   object
 17  clearance_date          7378 non-null   object
dtypes: object(18)
memory usage: 1.4+ MB

18

In [61]:
# review data 
stripped_crime_data.sample(5)

,incident_report_number,crime_type,ucr_code,family_violence,occ_date_time,rep_date_time,location_type,address,zip_code,council_district,sector,district,pra,ucr_category,category_description,location,clearance_status,clearance_date
4432,20215004062,BURGLARY OF VEH-NO SUSPECT/FU,601,N,2021-01-28T07:30:00.000,2021-01-29T09:57:00.000,PARKING LOTS / GARAGE,3625 DUVAL RD,78759,7,AD,2,201,23F,Theft,"{'latitude': '30.41130224', 'longitude': '-97....",N,2021-01-29T00:00:00.000
7421,20215002170,BURGLARY OF RESIDENCE,500,N,2021-01-16T23:00:00.000,2021-01-17T05:23:00.000,RESIDENCE / HOME,12113 DESSAU RD,78754,1,ED,5,224,220,Burglary,"{'latitude': '30.38321994', 'longitude': '-97....",N,2021-01-19T00:00:00.000
9984,20215001042,CRIMINAL MISCHIEF,1400,N,2021-01-06T09:11:00.000,2021-01-08T09:11:00.000,RESIDENCE / HOME,12401 LOS INDIOS TRL,78729,6,AD,4,168,NaN,NaN,"{'latitude': '30.4407674', 'longitude': '-97.7...",N,2021-01-11T00:00:00.000
4222,2021290281,AUTO THEFT,700,N,2021-01-29T03:37:00.000,2021-01-29T06:38:00.000,RESIDENCE / HOME,4200 STEVE SCARBROUGH DR,78759,7,AD,2,199,240,Auto Theft,"{'latitude': '30.41095277', 'longitude': '-97....",NaN,NaN
590,2021431624,AGG ASSAULT,402,N,2021-02-12T21:58:00.000,2021-02-12T21:58:00.000,PARKING LOTS / GARAGE,10000 N LAMAR BLVD,78758,4,ED,1,239,13A,Aggravated Assault,"{'latitude': '30.36926216', 'longitude': '-97....",NaN,NaN

---------------------------

## Define database table relationships

In [204]:
# offense_type table 
offense_type_df = stripped_crime_data[['ucr_code','crime_type']].copy()
offense_type_df.drop_duplicates(subset='ucr_code', inplace=True)

In [208]:
# 189 unique offense codes
offense_type_df.head()
offense_type_df.shape

  ucr_code                  crime_type
0      601         BURGLARY OF VEHICLE
1      502      BURGLARY NON RESIDENCE
2     1400           CRIMINAL MISCHIEF
3      905  RESISTING ARREST OR SEARCH
4     2716           CRIMINAL TRESPASS

(189, 2)

In [212]:
offense_type_df.isnull().values.any()

False